html,
body {
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.todo-app {
  display: flex;
  flex-direction: column;
  border: black 1px solid;
  padding: 0 5px;
}

.todo,
.todo-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.todo__chunk {
  /*border: yellowgreen 1px solid;*/
  margin: 0px 5px;
}

/* --------------------todo chunks--------------------*/
.todo__text {
  width: 150px;
  text-align: center;
}

.todo__deadline {
  width: 80px;
}

.todo__progress {
  width: 60px;
}

.todo__delete {
  width: 100px;
}
